    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Available Movies & TV series
                    <small>enjoy</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Three Column Portfolio</li>
                    <li><a href="#/createmovie" ng-show="globals.currentUser.role=='ADMIN'">Add a movie</a></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div>
Search: <input type="text" ng-model="moviesFilter.title" />
SortBy:
<select ng-model="dropdown">
  <option value="imdbRating">ImdbRatings</option>
  <option value="year">Year</option>
  <option value="imdbVotes">ImdbVotes</option>
</select>
</div>
<br/>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio" ng-repeat="movie in movies | filter:moviesFilter |orderBy:dropdown">
                <a href="#/movies/{{movie.movieId}}">
                    <img class="img-responsive img-hover img-size" src="{{movie.poster}}" alt="movie poster">
                </a>
                <h3>
                    <a href="#/movies/{{movie.movieId}}">{{movie.title}}</a>
                </h3>
                <p>{{movie.plot}}</p>
            </div>
      
        </div>


        <hr>

       

        <hr>

